@model RigaMetro.Models.ViewModels.MapDataViewModel
@{
  ViewBag.Title = "Debug Data";
}

<h1>Содержимое базы данных</h1>

@foreach (var line in Model.Lines) {
  <h2>Линия: @line.Name (@line.Color)</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Order</th>
      <th>StationID</th>
      <th>Название</th>
      <th>Широта</th>
      <th>Долгота</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in line.Stations) {
      <tr>
        <td>@s.Order</td>
        <td>@s.StationID</td>
        <td>@s.Name</td>
        <td>@s.Latitude</td>
        <td>@s.Longitude</td>
      </tr>
    }
    </tbody>
  </table>
}

@if (Model.TimeBetween != null && Model.TimeBetween.Any()) {
  <h2>Дистанции между станциями</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>From StationID</th>
      <th>To StationID</th>
      <th>Distance (m)</th>
      <th>Time (sec)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model.TimeBetween) {
      <tr>
        <td>@t.FromStationID</td>
        <td>@t.ToStationID</td>
        <td>@t.DistanceM</td>
        <td>@t.TimeSeconds</td>
      </tr>
    }
    </tbody>
  </table>
}