@model RigaMetro.Web.Models.ViewModels.MapDataViewModel
@{
    ViewBag.Title = "Debug Data";
}

<h1>Содержимое базы данных</h1>

@foreach (var line in Model.Lines) {
    <h2>Линия: @line.Name (@line.Color)</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order</th>
            <th>StationID</th>
            <th>Название</th>
            <th>Широта</th>
            <th>Долгота</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var s in line.Stations) {
            <tr>
                <td>@s.Order</td>
                <td>@s.StationID</td>
                <td>@s.Name</td>
                <td>@s.Latitude</td>
                <td>@s.Longitude</td>
            </tr>
        }
        </tbody>
    </table>
}

<!-- Дистанции между станциями -->
@if (Model.TimeBetween.Any()) {
    <h2>Дистанции между станциями</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>From StationID</th>
            <th>To StationID</th>
            <th>Distance (m)</th>
            <th>Time (sec)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in Model.TimeBetween) {
            <tr>
                <td>@t.FromStationID</td>
                <td>@t.ToStationID</td>
                <td>@t.DistanceM</td>
                <td>@t.TimeSeconds</td>
            </tr>
        }
        </tbody>
    </table>
}

<!-- Поезда -->
@if (Model.Trains.Any()) {
    <h2>Поезда</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>TrainID</th>
            <th>LineID</th>
            <th>Name</th>
            <th>Active</th>
            <th>StartWork</th>
            <th>EndWork</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var train in Model.Trains) {
            <tr>
                <td>@train.TrainID</td>
                <td>@train.LineID</td>
                <td>@train.TrainName</td>
                <td>@(train.IsActive ? "Да" : "Нет")</td>
                <td>@train.StartWorkTime</td>
                <td>@train.EndWorkTime</td>
            </tr>
        }
        </tbody>
    </table>
}
