<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <title>@ViewBag.Title | RigaMetro</title>
  <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.ico">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet"/>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-4 g-2 d-flex justify-content-between align-items-center">
      <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        <img src="~/images/RigaMetroLogo.svg" alt="Logo"/>
      </a>
      <ul class="navbar-nav d-flex gap-4 align-items-center">
        <li class="nav-item">
          <a class="nav-link text-white hover-underline-animation" asp-action="History">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white hover-underline-animation" asp-action="DebugData">Debug</a>
        </li>
        <li class="nav-item">
          <span class="navbar-text text-white">@DateTime.Now.ToString("HH:mm")</span>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="container-fluid px-3" role="main">
@RenderBody()
</main>
<footer class="container-fluid px-3 py-2 mt-1">
  <p class="text-center">Copyright© Rostislavs Belovs(Knyaz), @DateTime.Now.Year. All rights reserved</p>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>